USE [master]
GO
/****** Object:  Database [Bot_Of_Holding_DEV]    Script Date: 7/14/2025 10:25:38 AM ******/
CREATE DATABASE [Bot_Of_Holding_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bot_Of_Holding_DEV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bot_Of_Holding_DEV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bot_Of_Holding_DEV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bot_Of_Holding_DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bot_Of_Holding_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bot_Of_Holding_DEV]
GO
/****** Object:  User [BoH_APIUser]    Script Date: 7/14/2025 10:25:38 AM ******/
CREATE USER [BoH_APIUser] FOR LOGIN [BoH_APIUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BoH_APIUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [BoH_APIUser]
GO
/****** Object:  Table [dbo].[CNTNR]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNTNR](
	[CNTNR_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[OWNER_ID] [numeric](18, 0) NOT NULL,
	[CNTNR_NME] [nvarchar](75) NULL,
	[CNTNR_DESC] [nvarchar](250) NULL,
	[CNTNR_TYPE_ID] [numeric](18, 0) NULL,
	[ACTV_INDC] [bit] NULL,
	[CRE_DTTM] [datetime] NULL,
	[LST_ACTV_DTTM] [datetime] NULL,
	[LST_MDFD_DTTM] [datetime] NULL,
	[CRE_ID] [numeric](18, 0) NOT NULL,
	[LST_MDFD_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_USER_CNTNR] PRIMARY KEY CLUSTERED 
(
	[CNTNR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNTNR_ITEM]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNTNR_ITEM](
	[CNTNR_ITEM_ID] [numeric](18, 0) NOT NULL,
	[CNTNR_ID] [numeric](18, 0) NOT NULL,
	[ITEM_ID] [numeric](18, 0) NOT NULL,
	[ITM_QTY] [bigint] NOT NULL,
	[CRE_ID] [numeric](18, 0) NOT NULL,
	[CRE_DTTM] [datetime] NOT NULL,
	[LST_MDFD_ID] [numeric](18, 0) NOT NULL,
	[LST_MDFD_DTTM] [datetime] NOT NULL,
	[PAET_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_CNTNR_ITEM] PRIMARY KEY CLUSTERED 
(
	[CNTNR_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNTNR_TYPE]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNTNR_TYPE](
	[CNTNR_TYPE_ID] [numeric](18, 0) NOT NULL,
	[CNTNR_TYPE_NME] [nvarchar](50) NOT NULL,
	[CNTNR_TYPE_DESC] [nvarchar](250) NULL,
	[CRE_ID] [numeric](18, 0) NOT NULL,
	[CRE_DTTM] [datetime] NOT NULL,
	[LST_MDFD_ID] [numeric](18, 0) NOT NULL,
	[LST_MDFD_DTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_CNTNR_TYPE] PRIMARY KEY CLUSTERED 
(
	[CNTNR_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GUILD_DATA]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUILD_DATA](
	[GUILD_ID] [numeric](18, 0) NOT NULL,
	[GUILD_NME] [nvarchar](75) NULL,
 CONSTRAINT [PK_GUILD] PRIMARY KEY CLUSTERED 
(
	[GUILD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM](
	[ITEM_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ITEM_NME] [nvarchar](75) NOT NULL,
	[ITEM_DESC] [nvarchar](500) NULL,
	[WEIGHT] [real] NULL,
	[WEIGHT_UNIT] [nvarchar](10) NULL,
	[VALUE] [real] NULL,
	[VALUE_UNIT] [nvarchar](10) NULL,
	[IS_PAET] [bit] NOT NULL,
	[CRE_ID] [numeric](18, 0) NULL,
	[CRE_DTTM] [datetime] NOT NULL,
	[LST_MDFD_ID] [numeric](18, 0) NULL,
	[LST_MDFD_DTTM] [datetime] NOT NULL,
	[SRVR_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNIQUE_NAME_CRE_ID] UNIQUE NONCLUSTERED 
(
	[ITEM_NME] ASC,
	[CRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_ATTR]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_ATTR](
	[ITEM_ATTR_ID] [numeric](18, 0) NOT NULL,
	[ITEM_ATTR_NAME] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_SPEC]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_SPEC](
	[ITEM_SPEC_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [numeric](18, 0) NOT NULL,
	[ATTR_ID] [numeric](18, 0) NOT NULL,
	[VALU] [nvarchar](255) NOT NULL,
	[CRE_ID] [numeric](18, 0) NOT NULL,
	[CRE_DTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_ITEM_SPEC] PRIMARY KEY CLUSTERED 
(
	[ITEM_SPEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OWNER]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OWNER](
	[OWNER_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DSCD_ID] [numeric](18, 0) NOT NULL,
	[OWNER_TYPE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_OWNR_TYPE] PRIMARY KEY CLUSTERED 
(
	[OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNIQUE_DISCORD_ID] UNIQUE NONCLUSTERED 
(
	[DSCD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_OWNER_DATA]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_OWNER_DATA](
	[SYSTEM_OWNER_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_SYSTEM_OWNER_DATA] PRIMARY KEY CLUSTERED 
(
	[SYSTEM_OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DATA]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DATA](
	[USER_ID] [numeric](18, 0) NOT NULL,
	[USR_NME] [nvarchar](50) NULL,
	[USR_TAG] [nvarchar](50) NULL,
	[GLBL_USR_NME] [nvarchar](50) NULL,
	[CRE_DTTM] [datetime] NOT NULL,
	[LST_ACTV_DTTM] [datetime] NULL,
	[PRMY_CNTNR_ID] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SETTINGS]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SETTINGS](
	[STNG_ID] [numeric](18, 0) NOT NULL,
	[EPHML_CNTNR] [bit] NOT NULL,
	[EPHML_USER] [bit] NOT NULL,
	[EPHML_ITEM] [bit] NOT NULL,
 CONSTRAINT [PK_USER_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[STNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CNTNR_ITEM] ADD  CONSTRAINT [DF_CNTNR_ITEM_CRE_DTTM]  DEFAULT (getdate()) FOR [CRE_DTTM]
GO
ALTER TABLE [dbo].[CNTNR_ITEM] ADD  CONSTRAINT [DF_CNTNR_ITEM_LST_MDFD_DTTM]  DEFAULT (getdate()) FOR [LST_MDFD_DTTM]
GO
ALTER TABLE [dbo].[CNTNR_TYPE] ADD  CONSTRAINT [DF_CNTNR_TYPE_CRE_DTTM]  DEFAULT (getdate()) FOR [CRE_DTTM]
GO
ALTER TABLE [dbo].[CNTNR_TYPE] ADD  CONSTRAINT [DF_CNTNR_TYPE_LST_MDFD_DTTM]  DEFAULT (getdate()) FOR [LST_MDFD_DTTM]
GO
ALTER TABLE [dbo].[ITEM] ADD  CONSTRAINT [DF_ITEM_cre_dttm]  DEFAULT (getdate()) FOR [CRE_DTTM]
GO
ALTER TABLE [dbo].[ITEM] ADD  CONSTRAINT [DF_ITEM_LST_MDFD_DTTM]  DEFAULT (getdate()) FOR [LST_MDFD_DTTM]
GO
ALTER TABLE [dbo].[USER_DATA] ADD  CONSTRAINT [DF_USER_USR_NME]  DEFAULT ('') FOR [USR_NME]
GO
ALTER TABLE [dbo].[USER_DATA] ADD  CONSTRAINT [DF_USER_DATA_CRE_DTTM]  DEFAULT (getdate()) FOR [CRE_DTTM]
GO
ALTER TABLE [dbo].[CNTNR]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_CNTNR_TYPE] FOREIGN KEY([CNTNR_TYPE_ID])
REFERENCES [dbo].[CNTNR_TYPE] ([CNTNR_TYPE_ID])
GO
ALTER TABLE [dbo].[CNTNR] CHECK CONSTRAINT [FK_CNTNR_CNTNR_TYPE]
GO
ALTER TABLE [dbo].[CNTNR]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_CRE_OWNER] FOREIGN KEY([CRE_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[CNTNR] CHECK CONSTRAINT [FK_CNTNR_CRE_OWNER]
GO
ALTER TABLE [dbo].[CNTNR]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_MDFD_OWNER] FOREIGN KEY([LST_MDFD_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[CNTNR] CHECK CONSTRAINT [FK_CNTNR_MDFD_OWNER]
GO
ALTER TABLE [dbo].[CNTNR]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_OWNER] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[CNTNR] CHECK CONSTRAINT [FK_CNTNR_OWNER]
GO
ALTER TABLE [dbo].[CNTNR_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_ITEM_CNTNR] FOREIGN KEY([CNTNR_ID])
REFERENCES [dbo].[CNTNR] ([CNTNR_ID])
GO
ALTER TABLE [dbo].[CNTNR_ITEM] CHECK CONSTRAINT [FK_CNTNR_ITEM_CNTNR]
GO
ALTER TABLE [dbo].[CNTNR_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_ITEM_ITEM] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[ITEM] ([ITEM_ID])
GO
ALTER TABLE [dbo].[CNTNR_ITEM] CHECK CONSTRAINT [FK_CNTNR_ITEM_ITEM]
GO
ALTER TABLE [dbo].[CNTNR_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CNTNR_ITEM_PAET_ITEM] FOREIGN KEY([PAET_ID])
REFERENCES [dbo].[CNTNR_ITEM] ([CNTNR_ITEM_ID])
GO
ALTER TABLE [dbo].[CNTNR_ITEM] CHECK CONSTRAINT [FK_CNTNR_ITEM_PAET_ITEM]
GO
ALTER TABLE [dbo].[GUILD_DATA]  WITH CHECK ADD  CONSTRAINT [FK_GUILD_OWNER] FOREIGN KEY([GUILD_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[GUILD_DATA] CHECK CONSTRAINT [FK_GUILD_OWNER]
GO
ALTER TABLE [dbo].[SYSTEM_OWNER_DATA]  WITH CHECK ADD  CONSTRAINT [FK_SYSTEM_OWNER_DATA_OWNER] FOREIGN KEY([SYSTEM_OWNER_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[SYSTEM_OWNER_DATA] CHECK CONSTRAINT [FK_SYSTEM_OWNER_DATA_OWNER]
GO
ALTER TABLE [dbo].[USER_DATA]  WITH CHECK ADD  CONSTRAINT [FK_USER_DATA_CNTNR] FOREIGN KEY([PRMY_CNTNR_ID])
REFERENCES [dbo].[CNTNR] ([CNTNR_ID])
GO
ALTER TABLE [dbo].[USER_DATA] CHECK CONSTRAINT [FK_USER_DATA_CNTNR]
GO
ALTER TABLE [dbo].[USER_DATA]  WITH CHECK ADD  CONSTRAINT [FK_USER_DATA_OWNER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[USER_DATA] CHECK CONSTRAINT [FK_USER_DATA_OWNER]
GO
ALTER TABLE [dbo].[USER_SETTINGS]  WITH CHECK ADD  CONSTRAINT [FK_USER_SETTINGS_OWNER] FOREIGN KEY([STNG_ID])
REFERENCES [dbo].[OWNER] ([OWNER_ID])
GO
ALTER TABLE [dbo].[USER_SETTINGS] CHECK CONSTRAINT [FK_USER_SETTINGS_OWNER]
GO
/****** Object:  StoredProcedure [dbo].[DATA_PURGE]    Script Date: 7/14/2025 10:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SLEER
-- Create date: 07/11/2025
-- Description:	Purges all data from the Bot_Of_Holding database
-- =============================================
CREATE PROCEDURE [dbo].[DATA_PURGE] 
	
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM DBO.CNTNR_ITEM
	DELETE FROM DBO.ITEM_SPEC
	DELETE FROM DBO.ITEM_ATTR
	DELETE FROM DBO.CNTNR
	DELETE FROM DBO.ITEM
	DELETE FROM DBO.CNTNR_TYPE
	delete from dbo.USER_SETTINGS
	delete from dbo.USER_DATA
	delete from dbo.SYSTEM_OWNER_DATA
	DELETE FROM DBO.GUILD_DATA
	delete from dbo.OWNER
    
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maps ownership of containers or items to respective owner types' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CNTNR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Defines owner type objects, which are used to determine where to search for an object''s owner' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OWNER'
GO
USE [master]
GO
