--liquibase formatted sql
--changeset sleer:v0002-add-data-purge-12-07-2025

USE [Bot_Of_Holding_DEV]
GO
/****** Object:  StoredProcedure [dbo].[DATA_PURGE]    Script Date: 12/7/2025 3:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SLEER
-- Create date: 07/11/2025
-- Description:	Purges all data from the Bot_Of_Holding database
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[DATA_PURGE]
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM DBO.CNTNR_ITEM;
	DELETE FROM DBO.ITEM_SPEC;
	DELETE FROM DBO.ITEM_ATTR;
	DELETE FROM DBO.CNTNR_TYPE;
	DELETE FROM DBO.CNTNR;
	DELETE FROM DBO.ITEM;
	DELETE FROM DBO.THEME;
	DELETE FROM dbo.USER_SETTINGS;
	DELETE FROM dbo.USER_DATA;
	DELETE FROM dbo.SYSTEM_OWNER_DATA;
	DELETE FROM DBO.GUILD_DATA;
	DELETE FROM dbo.OWNER;

END
GO
